<h2>Full List</h2>

{{ collections.all | eleventyNavigation | dump(2) }}

{{ collections.all | eleventyNavigation | eleventyNavigationToHtml }}

<h2>Breadcrumb for Bats</h2>

{{
  collections.all
    | eleventyNavigationBreadcrumb: "Bats"
    | dump(2)
}}

{{
  collections.all
    | eleventyNavigationBreadcrumb: "Bats"
    | eleventyNavigationToHtml
}}
